.css-1160xiw-MuiPaper-root-MuiDrawer-paper{
    background-color: transparent !important;
}
.css-bshv44-MuiButtonBase-root-MuiListItem-root{
    background-color: transparent !important;
}
.MuiDrawer-paperAnchorRight,.css-1poq2dj-MuiDrawer-paper{
    background-color: black !important;
}