.teamSections{
    height:80vh;
    scroll-snap-align: center;
}
.scroll-container {
    height: 80vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: thin;
    scrollbar-color : #4F4E4F #010001;
  }
  .page-container{
      height: 80vh;
  }
  .cards:hover{
        transform: translateY(0) scale(1.01);
        border: 2px solid#bdd5ea;
        border-radius: 7px;

  }